.container {
  width: 300px;
  padding: 10px;
}

.transform-chart-button {
  display: block;
  width: 100%;
  background-color: #1a73e8;
  color: white;
  font-size: 30px;
  padding: 40px;
}

.transform-chart-button:hover {
  background-color: #174ea6;
}
